.list {
  height: 85vh;
  overflow-y: auto;
}

.list ul {
  list-style: none;
  padding: 0;
}

.list_item {
  padding: 10px 0;
  border: 0.3px dashed darkblue;
}

.toggle {
  outline: none;
  border-color: transparent;
  border-radius: 5px;
  padding: 5px 25px;
  color: #fff;
  cursor: pointer;
}
